numpy>=2.0
opencv-python>=4.10

Pillow>=11.0

torch>=2.7
torchvision>=0.22
open_clip_torch>=3.1

tensorflow>=2.18

scikit-learn>=1.7

ffmpeg-python>=0.2

matplotlib>=3.10

tqdm>=4.67

pymongo>=4.13

pymilvus>=2.6